*{
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0;
}


/*****************   public css start   **********************/

.cb{
	clear: both;
}

.down{
	position: absolute;
	bottom: 0;
	width: 135px;
	height: 47px;
/*	left: 12.5%;	in js	             */
	background: url('../images/down_nov.png');
	cursor: pointer;
}

.down:hover{
	background: url('../images/down_hov.png');
}

.up{
	position: absolute;
	top: 0;
	width: 135px;
	height: 47px;
/*	left: 12.5%;	in js	             */
	background: url('../images/up_nov.png');
	cursor: pointer;
}

.up:hover{
	background: url('../images/up_hov.png');
}

.logo{
	position: absolute;
	top: 0;
	left: 0;
}

.logo img{
	z-index: 99999;
}

.logo-img{
	padding-top: 18px;
    padding-left: 20px;
}

.open-nov-img{
    margin-left: 16px;
    margin-bottom: 4.5px;
    cursor: pointer;
}


/*****************   public css end   **********************/



body,.wrapper{
	width: 100%;
	font-size: 14px;
/*	overflow: hidden;*/
}

.wrapper{
	position: relative;
}

.header,.community,.games,.footer,.img-viewer{
	width: 100%;
	font-size:0;
}










.header{
	width: 100%;
	position: relative;
}

.img-viewer{
	position: absolute;
	width: 400% !important;
}

.img-viewer>img{
	position: absolute;
	width: 25%;
	float: left;
}

.section-list{
	position: absolute;
	right: 0;
	top: 0;
}

.section-list-item{
	list-style-type: none;
	font-size:0;				/*在ul里去掉li之间的间距*/
}

.section-list-item li{
	display: block;
	width: 292.05px;
	background-color: rgba(0,0,0,0.54);
	cursor: pointer;
}

.section-list-item li:hover{
	background-color: rgba(0,124,211,0.3);
}

/*  .section-list-item li img main in js  */
.section-list-item li img{
	margin: 0;
	padding: 0;
	z-index: 9999;
}

.active{
	background-color: rgba(0,124,211,0.6) !important;
}









.community{
	width: 100%;
	position: relative;
}

.community>img{
	position: absolute;
	height: 100%;
	z-index: -1;
}

.pic-viewer-wrapper{
	width: 930px;
	overflow: hidden;
	margin: 0 auto;
	padding-top: 9%;
}

.pic-viewer{
	width: 1228px;
	height: 432px;
	overflow: hidden;
}

.pic-viewer>div{
	float: left;
	z-index: 100;
/*	width: 428px;*/
}

.pic-viewer img{
	
	z-index: 100;
	
}

.pic1{
	width: 378px;
	margin-left: -220px;
}

.pic2{
	width: 378px;
	margin-left: -220px;
}

.pic3{
	width: 378px;
}

.pic4{
	width: 378px;
	margin-left: 40px;
}

.pic-viewer-introduce{
	display: block;
	position: absolute;
	float: left;
	z-index: 100;
	line-height: 50px;
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    font-style: normal;
    font-family: '微软雅黑';
    margin-left: 70px;
}














.games{
	width: 100%;
	position: relative;
}

.games>img{
	position: absolute;
	height: 100%;
	z-index: -1;
}

.games>div img{
	cursor: pointer;
}

.games-wrapper{
	width: 100%;
	height: 100%;
}

/***************** pic  set start ****************************/

.rotate-pic1{
	position: absolute;					/* height,left,top,right in js*/
	width: 5.931%;
	z-index: 50;

}

.rotate-pic2{
	position: absolute;
	width: 7.305%;
	z-index: 60;
}

.rotate-pic3{
	position: absolute;
	width: 8.58%;
	z-index: 70;
}

.rotate-pic4{
	position: absolute;
	width: 10.862%;
	z-index: 80;
}

.rotate-pic5{
	position: absolute;
	width: 14.178%;
	z-index: 90;
}

.rotate-pic6{
	position: absolute;
	width: 16.66%;
	z-index: 100;			
}

.rotate-pic7{
	position: absolute;
	width: 14.178%;
	z-index: 90;
}

.rotate-pic8{
	position: absolute;
	width: 10.862%;
	z-index: 80;	
}

.rotate-pic9{
	position: absolute;
	width: 8.58%;	
	z-index: 70;
}

.rotate-pic10{
	position: absolute;
	width: 7.305%;	
	z-index: 60;	
}

.rotate-pic11{
	position: absolute;
	width: 5.931%;
	z-index: 50;			
}

/***************** pic  set end ****************************/















.footer{
	width: 100%;
	position: relative;
}

.footer>img{
	position: absolute;
	height: 100%;
	z-index: -1;
}

.footer .footer-pic-viewer-wrapper{
	width: 100%;
	overflow: hidden;
	padding-top: 8.6%;
}

.footer .footer-pic-viewer{
	width: 200%;						/*足够长到屏幕外，防止应浮动而把图片换到下一行*/
	height: 418px;
	overflow: hidden;
}

.footer .footer-pic-viewer>div{
	float: left;
	z-index: 100;
}

.footer .footer-pic-viewer img{
	z-index: 100;
}

.footer .footer-pic1{
	width: 23.5%;
	margin-left: -15.8%;
}

.footer .footer-pic2{
	width: 23.5%;
	margin-left: -15.8%;
}

.footer .footer-pic3{
	width: 23.5%;
	margin-left: -15.8%;
}

.footer .footer-pic4{
	width: 23.5%;
	margin-left: -15.8%;
}

.footer .footer-pic5{
	width: 23.5%;
}

.footer p.footer-pic-viewer-introduce{
	line-height: 50px;
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    font-style: normal;
    font-family: '微软雅黑';
    text-align: center;
    padding-top: 10px;
}








.column-switcher{
	position: fixed;
	left: 26px;
	top: 50%;
	margin-top: -57px
}

ul.column-switcher-items{
	position: relative;
	list-style-type: none;
	font-size: 0px;
}

li.column-switcher-item{
	display: block;
	height: 20px;
	line-height: 22px;
	margin: 8px auto;
	text-align: center;
	cursor: pointer;
}

li.column-switcher-item .column-switcher-item-btn{
	display: inline-block;					/*li里inline元素才能居中*/
	width: 0;
	height: 0;
	border: white 4px solid;
	border-radius: 50%;
	margin: 0px auto;
	cursor: pointer;
}

.column-switcher-item-btn-intro{
	position: absolute;
	width: 50px;
	left: 22px;
	font-size: 16px;
	color: white;
	visibility:hidden;
}

li.column-switcher-item .current{
	border-width: 9px !important;
}